.list-container {
  padding: 1rem;
  background-color: #351150;
  color: white;

  h2 {
    color: #F6CA56
  }

  a {
    line-height: 1.75rem;
  }

  .default-list {
    padding-top: 1rem;
    list-style: none;
  }
}